p {
  margin: 2vh 4vw;
}


* {
  box-sizing: border-box;
}
.navbar {
  padding: 0 12%;
  z-index: 10;
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  background-color: #AFF476;
  color: black;
}
.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  white-space: nowrap;
  display: block;
  justify-content: space-between;
  text-decoration: none;
  color: black;
  padding: 0 1.5rem;
}

.navbar-links li a:hover {
  color: white;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 24px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.centre {
  width: 75%;
  margin: auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.5);
  padding-top: 3vh;
  padding-bottom: 6%;
}

p {
  margin: auto 8%;
}

.encadrement img{
  border: solid 1px;
 }
.encadrement {
  margin-top: 8%;
}

.centrage p{
  text-align: left;
}
.centrage{
  padding-top: 8%;
  text-align: center;
}

.centrage2{
  margin: auto;
	 text-align: center;
}
.centrage2 form {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 7px;
}
.centrage2 input {
    width: 50vh;
    font-size: 16px;
    margin: auto;
}
textarea {
    resize : none;
    margin: auto;
    font-size: 16px;
    height: 150px;
    width: 50vh;
}

a[href*="pageaccueil.html"] {
    font-size: 0px;
    padding: 30px 90px;
    background-image: url(image/logo2.png);
    background-size: contain;
    background-repeat: no-repeat;
}


body {
  margin: 0 15% 0 15%;
  font-family: 'Tahoma', sans-serif;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  background-color: #CAB6B2;
}

.centre {
  width: 80%;
  margin: auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.5);
}

footer {
  font-size: 15px;
  background-color: #AFF476;
  border-top: 1px solid gray;
  padding-bottom: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5),  0 0 20px rgba(0, 0, 0, 0.5);
}
footer p {
  margin-left: 15%;
  margin-right: 15%;
}

.button-5 {
  margin: 0 auto;
  align-items: center;
  background-clip: padding-box;
  background-color: #cce8cc;
  border: 1px solid transparent;
  border-radius: .25rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  min-height: 4.5vh;
  position: relative;
  transition: all 250ms;
  width: 10vh;
}

.button-5:hover, .button-5:focus {
  background-color: #cce8cc;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.button-5:hover {
  transform: translateY(-1px);
}

.button-5:active {
  background-color: #cce8cc;
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

.container {
  font-size: 1.6vh;
  width: 30%;
  display: grid;
  justify-content: center;
  min-width: 100px;
}
.container2 {
  justify-content: space-evenly;
  margin: auto;
  display: flex;
  width: 80%;
  flex-direction: row;
  align-items: center;
}
.container2 img {
  margin: 1.5vh auto;
  width: 15vh;
  height: 23vh;
  border: 1px solid black;
  
}

a[href*="https://www.snapchat.com/"] {
  font-size: 0px;
  padding: 16px;
  background-image: url(image/snapchat.png);
  background-size: contain;
  background-repeat: no-repeat;
}

a[href*="https://twitter.com/?lang=fr"] {
  font-size: 0px;
  padding: 16px;
  background-image: url(image/twitter.png);
  background-size: contain;
  background-repeat: no-repeat;
}
a[href*="https://www.instagram.com/?hl=fr"] {
  font-size: 0px;
  padding: 16px;
  background-image: url(image/instagram.png);
  background-size: contain;
  background-repeat: no-repeat;
}

a[href*="https://fr-fr.facebook.com/"] {
  font-size: 0px;
  padding: 16px;
  background-image: url(image/facebook.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.bas {
  display: flex;
  align-items: flex-start;
  gap: 3vh ;
  background-color: #f0f2f4;
  margin-top: 4%;
  padding: 1vh;
  padding-left: 4vh;
}
.centrage p {
  padding-bottom: 4vh;
}
@media (max-width: 800px) {
  .navbar {
      padding: 0 3%;
      flex-direction: column;
      align-items: flex-start;
  }

  .toggle-button {
      display: flex;
  }

  .navbar-links {
      display: none;
      width: 100%;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links ul li {
      text-align: center;
  }

  .navbar-links ul li a {
      padding: .5rem 1rem;
  }

  .navbar-links.active {
      display: flex;
  }
  .faq { 
      max-width: 60vh;
  }
  h2 {
    font-size: 2.7vh;
  }
  .faq p {
    font-size: 2.1vh;
  }
  .centre {
    width: 100%;
    padding-bottom: 10vh;
    box-shadow: none;
  }
  body {
    background-color: white;
  }
  footer p {
    margin-left: 3vh;
    margin-right: 3vh;
    font-size: 1.4vh;
  }
}