p {
  margin: 2vh 4vw;
}

* {
  box-sizing: border-box;
}
.navbar {
  padding: 0 12%;
  z-index: 10;
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  background-color: #AFF476;
  color: black;
}
.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  white-space: nowrap;
  display: block;
  justify-content: space-between;
  text-decoration: none;
  color: black;
  padding: 0 1.5rem;
}

.navbar-links li a:hover {
  color: white;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 24px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}


a[href*="pageaccueil.html"] {
    font-size: 0px;
    padding: 30px 90px;
    background-image: url(image/logo2.png);
    background-size: contain;
    background-repeat: no-repeat;
}

footer {
    font-size: 15px;
    background-color: #AFF476;
    border-top: 1px solid gray;
    padding-bottom: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5),  0 0 20px rgba(0, 0, 0, 0.5);
}

body {
    margin: auto;
    font-family: 'Tahoma', sans-serif;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    background-color: #CAB6B2;
}

.centre {
    width: 75%;
    margin: auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.5);
    padding-top: 3vh;
    padding-bottom: 6%;
}
h1 {
    padding-top: 5vh;
}


footer p {
    margin-left: 15%;
    margin-right: 15%;
  }
.faq {
    width: 80%;
    max-width: 760px;
    margin: 0 auto;
    margin-bottom: 4vh;
  }
  .header2 {
    margin-bottom: 4vh;
  }
  
  .header2 > p {
    font-size: 22px;
    color: #363636;
  }
  h1 {
    font-size: 52px;
    color: rgb(69, 69, 72);
    margin-top: 40px;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  details {
    cursor: pointer;
  }
  
  
  h2 {
    width: 760px;
    font-size: 22px;
  }
  
  summary {
    font-size: 20px;
    color: rgb(58, 58, 59);
    display: flex;
    justify-items: space-between;
    align-items: center;
    margin-bottom: 25px;
    border-bottom: 1px solid #c6ced8;
    
  }
  
  summary::marker {
    display: none;
    content: "";
  }
  
  span {
    margin-top: 0;
    margin-left: 4%;
    color: rgb(58, 58, 59);
  }
  
  details > p {
    max-width: 650px;
    color: #313131;
    font-size: 18px;
    line-height: 155%;
    letter-spacing: .1px;
    margin-bottom: 40px;
    padding-left: 10px;
  }
  
  hr {
    color: #313133;
    margin-block: 20px;
  }

  @media (max-width: 800px) {
    .navbar {
        padding: 0 3%;
        flex-direction: column;
        align-items: flex-start;
    }
  
    .toggle-button {
        display: flex;
    }
  
    .navbar-links {
        display: none;
        width: 100%;
    }
  
    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }
  
    .navbar-links ul li {
        text-align: center;
    }
  
    .navbar-links ul li a {
        padding: .5rem 1rem;
    }
  
    .navbar-links.active {
        display: flex;
    }
    .faq { 
        max-width: 60vh;
    }
    h2 {
      font-size: 2.7vh;
    }
    .faq p {
      font-size: 2.1vh;
    }
    .centre {
      width: 100%;
      padding-bottom: 10vh;
      box-shadow: none;
    }
    body {
      background-color: #CAB6B2;
    }
    footer p {
      margin-left: 3vh;
      margin-right: 3vh;
      font-size: 1.4vh;
    }
  }