
footer {
  font-size: 15px;
  background-color: #457d58;
  border-top: 1px solid gray;
  padding-bottom: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5),  0 0 20px rgba(0, 0, 0, 0.5);
}
header {
    top: 0;
    left: 0;
    z-index: 1;
    font-family: 'Trebuchet MS', sans-serif;
    font-style: bold;
    font-size: 18px;
    background-color: #457d58;
    color: black;
    position: fixed;
    width: 100%;
    -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
}
section {
    z-index: 0;
    margin-top: 5%;
}
p {
  margin-left: 20%;
  margin-right: 20%;
}
.catchphrase {
    text-align: center;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 40px;
}
li {
    display: inline-block;
}
ul {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    width: 55%;
    padding: 2px;
    display: flex;
    justify-content: space-between;
}

li:first-child {
    margin-right: auto;
}

li:not(:first-child) {
    margin-left: auto;
    margin : 0 27px;
}

a[href*="pageaccueil.html"] {
    font-size: 0px;
    padding: 30px 90px;
    background-image: url(image/logo.png);
    background-size: contain;
    background-repeat: no-repeat;
}

a:link { 
    text-decoration: none; 
    color: black;
}

a:visited { 
    text-decoration: none; 
    color: black;
}

a:hover { 
    text-decoration: none;
    color: white; }

a:active { text-decoration: none; }

body {
    font-family: Tahoma, sans-serif;
    margin: 0 15% 0 15%;
    margin-left: auto;
    margin-right: auto;
    background-color: wheat;
}
.container {
    border : 1px solid gray;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    width: 60%;
    height: 90%;
    margin: 0 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.5);
  }
  
  .text {
    display: flex;
    flex-direction: column;
    margin-left: 0%;
    font-size: 21px;
    width: 37%;
    margin-right: 3%;
  }
  .bottom {
    font-size: 28px;
    margin-top: auto;
  }
  .image {
    width: 60%;
  }
  
  .image img {
    border-radius: 0 15px 15px 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    float: right;
  }

  .carousel {
    position: relative;
    margin-bottom :450px;
  }

  @keyframes display {
    0% {
      transform: translateX(200px);
      opacity: 0;
    }
    8% {
      transform: translateX(0);
      opacity: 1;
    }
    25% {
      transform: translateX(0);
      opacity: 1;
    }
    33% {
        transform: translateX(-200px);
        opacity: 0;
      }
    100% {
      transform: translateX(-200px);
      opacity: 0;
    }
  }

.carousel > .container {
    position: absolute;
    top : 0;
    left : 10%;
    opacity: 0;
    animation: display 31.5s infinite; 
    width: 75%;
    height: 340px;
}

.container:nth-child(2) {
  animation-delay: 10.5s;
}
.container:nth-child(3) {
  animation-delay: 21s;
}

.galerie {
  border-top : 1px solid #c6ced8;
  margin: 0 20%;
  height: 600px;
  display: grid;
  grid-template-rows: 500px 100px;
  grid-template-columns: 1fr 30px 30px 30px 30px 30px 30px 1fr;
  align-items: center;
  justify-items: center;
}


main#carousel {
  grid-row: 1 / 2;
  grid-column: 1 / 9;
  width: 100vw;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transform-style: preserve-3d;
  perspective: 600px;
  --items: 6;
  --middle: 3;
  --position: 1;
  pointer-events: none;
}

div.item {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: black;
  --r: calc(var(--position) - var(--offset));
  --abs: max(calc(var(--r) * -1), var(--r));
  transition: all 0.25s linear;
  transform: rotateY(calc(-10deg * var(--r)))
    translateX(calc(-300px * var(--r)));
  z-index: calc((var(--position) - var(--abs)));
}

div.item img:hover {
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.5);
}

div.item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.3);
}
div.item:nth-of-type(1) {
  --offset: 1;
}
div.item:nth-of-type(2) {
  --offset: 2;
}
div.item:nth-of-type(3) {
  --offset: 3;
}
div.item:nth-of-type(4) {
  --offset: 4;
}
div.item:nth-of-type(5) {
  --offset: 5;
}

div.item:nth-of-type(6) {
  --offset: 6;
}

input:nth-of-type(1) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
input:nth-of-type(1):checked ~ main#carousel {
  --position: 1;
}

input:nth-of-type(2) {
  grid-column: 3 / 4;
  grid-row: 2 / 3;
}
input:nth-of-type(2):checked ~ main#carousel {
  --position: 2;
}

input:nth-of-type(3) {
  grid-column: 4 /5;
  grid-row: 2 / 3;
}
input:nth-of-type(3):checked ~ main#carousel {
  --position: 3;
}

input:nth-of-type(4) {
  grid-column: 5 / 6;
  grid-row: 2 / 3;
}
input:nth-of-type(4):checked ~ main#carousel {
  --position: 4;
}

input:nth-of-type(5) {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
}
input:nth-of-type(5):checked ~ main#carousel {
  --position: 5;
}

input:nth-of-type(6) {
  grid-column: 7 / 8;
  grid-row: 2 / 3;
}
input:nth-of-type(6):checked ~ main#carousel {
  --position: 6;
}

.centre {
  padding-top: 30px;
  margin: auto;
  width: 80%;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.5);

}