header {
    font-family: 'Trebuchet MS', sans-serif;
    font-style: bold;
    font-size: large;
    border-bottom: 1px solid gray;
}
li {
    display: inline-block;
    padding: 40px;
}

ul {
    list-style-type: none;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    height: fit-content;
}

a {
    padding : 40px;
}
a[href*="pageaccueil.html"] {
    font-size: 0px;
    background-image: url(logo.png);
}

a:link { 
    text-decoration: none; 
    color : black;
}

a:visited { 
    text-decoration: none; 
    color : black;
}

a:hover { text-decoration: none; }

a:active { text-decoration: none; }