p {
  margin: 2vh 4vw;
}

h1 {
  padding-top: 5vh;
  text-align: center;
}
* {
  box-sizing: border-box;
}
.navbar {
  padding: 0 12%;
  z-index: 10;
  width: 100%;
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  background-color: #AFF476;
  color: black;
}
.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  white-space: nowrap;
  display: block;
  justify-content: space-between;
  text-decoration: none;
  color: black;
  padding: 0 1.5rem;
}

.navbar-links li a:hover {
  color: white;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 24px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 800px) {
  .navbar {
      padding: 0 3%;
      flex-direction: column;
      align-items: flex-start;
  }

  .toggle-button {
      display: flex;
  }

  .navbar-links {
      display: none;
      width: 100%;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links ul li {
      text-align: center;
  }

  .navbar-links ul li a {
      padding: .5rem 1rem;
  }

  .navbar-links.active {
      display: flex;
  }
}

a:active { text-decoration: none; }

a[href*="index.html"] {
  font-size: 0px;
  padding: 30px 90px;
  background-image: url(image/logo2.png);
  background-size: contain;
  background-repeat: no-repeat;
}

footer {
  font-size: 14px;
  background-color: #AFF476;
  border-top: 1px solid gray;
  padding-bottom: 2px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5),  0 0 20px rgba(0, 0, 0, 0.5);
}
footer p {
  margin-left: 15%;
  margin-right: 15%;
}
body {
  margin: auto;
  font-family: 'Tahoma', sans-serif;
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
  background-color: #CAB6B2;
}

.centre {
  padding-top: 3vh;
  padding-bottom: 6%;
  width: 75%;
  margin: auto;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.5);
}

.product-grid {
  padding-top: 3vh ;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  gap: 4vh;
  flex-wrap: wrap;
}

.product-box {
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
  width: 260px;
  height: 340px;
  border: 1px solid lightgrey;
  border-radius: 5vh;
  position: relative;
  overflow: scroll;
}

.product-box img {
  width: 100%;
  height: 50%;
  object-fit: contain;
}

.product-name {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

.product-price {
  font-size: 15px;
  text-align: center;
  padding: 10px;
  position: relative;
}

.product-description {
  font-size: 14px;
  text-align: center;
  padding: 10px;
  color: gray;
}
.product-box:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}



a[href="#entete"] {
  position: sticky;
  bottom: 20px;
  left: 93%;
  font-size: 0px;
  padding: 25px;
  background-image: url(https://cdn-icons-png.flaticon.com/512/992/992703.png);
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 800px){
  .centre {
    width: 100%;
    padding-bottom: 10vh;
  }
  footer p {
    margin-left: 3vh;
    margin-right: 3vh;
    font-size: 1.4vh;
  }
  a[href*="#entete"] {
    background-image: none;
  }
  .product-grid {
    display: flex;
    flex-direction: column;
  }
  .product-box {
    width: 45vh;
  }
  .product-name {
    padding-bottom: 1px;
    font-size: 18px;
  }
  .product-description {
    font-size: 14px;
  }
  
}